<div class="col card " style="width: 50em;">
	<div class="card-header text-center">
		<h4>{{ header }}</h4>
	</div>
	<div class="card-body">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form #form="ngForm" autocomplete="off">
						Medical Info:
						<hr>
						<div class="form-group">
							<label for="physician">Physician:</label>
							<app-text [(model)]="player.medical.physician" type="text" name="physician" id="physician" required="true"
								min="1" max="100" pattern="[a-zA-Z0-9\s]+" placeholder="">
							</app-text>

							<label for="physicianNum">Physician Phone #:</label>
							<app-text [(model)]="player.medical.physicianNum" type="text" name="physicianNum" id="physicianNum"
								required="true" min="1" max="10" pattern="[0-9]{10}" placeholder="">
							</app-text>

							<label for="insurance">Health Insurance Carrier:</label>
							<app-text [(model)]="player.medical.insurance" type="text" name="insurance" id="insurance" required="true"
								min="1" max="100" pattern="[a-zA-Z0-9\s]+" placeholder="">
							</app-text>

							<label for="policy">Policy #: </label>
							<app-text [(model)]="player.medical.policy" type="text" name="policy" id="policy" required="true" min="1"
								max="100" pattern="[a-zA-Z0-9\s]+" placeholder="">
							</app-text>

							<label for="callNum">Insurance 800 #: </label>
							<app-text [(model)]="player.medical.callNum" type="text" name="callNum" id="callNum" required="true"
								min="1" max="11" pattern="[0-9]{1,11}" placeholder="">
							</app-text>

							<label for="allergies">Allergies: </label><i class="float-right">Insert N/A if none</i>
							<app-text [(model)]="player.medical.allergies" type="text" name="allergies" id="allergies" required="true"
								min="1" max="250" pattern="[a-zA-Z0-9\\/,]+" placeholder="">
							</app-text>

							<label for="conditions">Medical conditions we should know about:</label><i class="float-right">Insert N/A
								if none</i>
							<app-text [(model)]="player.medical.conditions" type="text" name="conditions" id="conditions"
								required="true" min="1" max="250" pattern="[a-zA-Z0-9\\/,]+" placeholder="">
							</app-text>

							<label for="medications">Daily Medications: </label><i class="float-right">Insert N/A if none</i>
							<app-text [(model)]="player.medical.medications" type="text" name="medications" id="medications"
								required="true" min="1" max="250" pattern="[a-zA-Z0-9\\/,]+" placeholder="">
							</app-text>

						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-6">
									<button name="back" value="submit" class="btn btn-lg btn-secondary btn-block"
										(click)="back()">Back</button>
								</div>
								<div class="col-6">
									<button name="submit" value="submit" (click)="submit()" class="btn btn-lg btn-primary btn-block"
										[disabled]="!form.valid">Next</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>