<div class="col card " style="width: 50em;">
	<div class="card-header text-center">
		<h4>{{ header }}</h4>
	</div>
	<div class="card-body">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form #form="ngForm" autocomplete="off">
						<div class="form-group">

							<label for="firstName">First Name:</label>
							<app-text [(model)]="player.fname" type="text" name="firstName" id="firstName"
								required="true" min="1" max="50" pattern="[a-zA-Z\s]+" placeholder="">
							</app-text>

							<label for="lastName">Last Name:</label>
							<app-text [(model)]="player.lname" type="text" name="lastName" id="lastName" required="true"
								min="1" max="50" pattern="[a-zA-Z\s]+" placeholder="">
							</app-text>

							<label for="email">Email:</label>
							<app-text [(model)]="player.email" type="email" name="email" id="email" required="true"
								min="1" max="250" [pattern]="emailPatterm" placeholder="my_email@something.com">
							</app-text>

							<label for="DOB">Date of Birth: {{player.dob.birthday}}</label><br>
							<app-birthday [(model)]="player.dob"></app-birthday>

							<br>
							<label for="grade">School Grade:</label>
							<select name="grade" [(ngModel)]="player.grade" class="form-control" id="grade" required>
								<option value=null selected="(!player.grade)">-- Select --</option>
								<option *ngIf="player.school == 'DSMS'" value='6'>6th</option>
								<option *ngIf="player.school == 'DSMS'" value='7'>7th</option>
								<option *ngIf="player.school == 'DSMS'" value='8'>8th</option>
								<option *ngIf="player.school == 'DSHS'" value='9'>9th</option>
								<option *ngIf="player.school == 'DSHS'" value='10'>10th</option>
								<option *ngIf="player.school == 'DSHS'" value='11'>11th</option>
								<option *ngIf="player.school == 'DSHS'" value='12'>12th</option>
							</select>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col"></div>
								<div class="col">
									<button [disabled]="!form.valid" name="submit" value="submit" (click)="submit()"
										class="btn btn-lg btn-primary btn-block">Next</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>