<div class="col card " style="width: 50em;">
	<div class="card-header text-center">
		<h4>{{ header }}</h4>
	</div>
	<div class="card-body">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form #form="ngForm" (ngSubmit)=submit(form) autocomplete="off">
						<div class="form-group">
							<label for="firstName">First Name:</label>
							<input name="firstName" [(ngModel)]="player.fname" class="form-control"  id="firstName" pattern="[a-zA-Z\s]+" maxlength="50" required/>
						</div>
						<div class="form-group">
							<label for="lastName">Last Name:</label>
							<input name="lastName" [(ngModel)]="player.lname" class="form-control"  id="lastName" pattern="[a-zA-Z\s]+"  maxlength="50" required/>
						</div>
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" name="email" #email="ngModel" [(ngModel)]="player.email" class="form-control" required id="email" [pattern]="emailPatterm" maxlength="250"/>
							<!-- <div *ngIf="email.invalid && (email.dirty || email.touched)"  class="alert alert-danger">
								<div *ngIf="email.errors.required">Name is required.</div>
								<div *ngIf="email.errors.minlength">Name must be at least 4 characters long.</div>
								<div *ngIf="email.errors.forbiddenName">Name cannot be Bob.</div>
							</div> -->
						</div>

						<!-- <pre>{{ email.errors | json }}</pre>
						<pre>{{ email.value | json }}</pre> -->
						<div class="form-group">
							<label for="DOB">Date of Birth:</label><br>
							<!-- <input name="DOB" [(ngModel)]="player.dob" class="form-control"  id="DOB" /> -->
							<pre>{{player.dob.string}}</pre>
							<div class="row">
								<div class="col-12">
									<div class="row">
										<div class="col-4">
											<label for="month">Month:</label>
											<select name="month" [(ngModel)]="player.dob.month" class="form-control" (ngModelChange)="onMonthChange(player.dob.month) && onDobChange()" required>
												<option [value]='0' selected="(!player.dob.month)">-- Select --</option>
												<option *ngFor="let month of DOB.months" [ngValue]="month.value">{{ month.name }}</option>
											</select>
										</div>

										<div class="col-4">
											<label for="day">Day:</label>
											<select name="day" [(ngModel)]="player.dob.day" class="form-control" (ngModelChange)="onDobChange()" required>
												<option [value]='0' selected="(!player.dob.day)">-- Select --</option>
												<option *ngFor="let day of DOB.days" [ngValue]="day">{{ day }}</option>
											</select>
										</div>
										<div class="col-4">
											<label for="year">Year:</label>
											<select name="year" [(ngModel)]="player.dob.year" class="form-control" (ngModelChange)="onDobChange()" required>
												<option [value]='0' selected="(!player.dob.year)">-- Select --</option>
												<option *ngFor="let year of DOB.years" [ngValue]="year">{{ year }}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="grade">School Grade:</label>
							<select name="grade" [(ngModel)]="player.grade" class="form-control"  id="grade" required>
								<option value=null selected="(!player.grade)">-- Select --</option>
								<option *ngIf="player.school == 'DSMS'" value='6'>6th</option>
								<option *ngIf="player.school == 'DSMS'" value='7'>7th</option>
								<option *ngIf="player.school == 'DSMS'" value='8'>8th</option>
								<option *ngIf="player.school == 'DSHS'" value='9'>9th</option>
								<option *ngIf="player.school == 'DSHS'" value='10'>10th</option>
								<option *ngIf="player.school == 'DSHS'" value='11'>11th</option>
								<option *ngIf="player.school == 'DSHS'" value='12'>12th</option>
							</select>
						</div>
						<!-- <hr>
						Address Info:
						<div class="form-group">
							<label for="address1">Street:</label>
							<input name="address1" [(ngModel)]="player.address.street1" class="form-control"  id="address1" pattern="[a-zA-Z0-9\s]+" />
						</div>
						<div class="form-group">
							<label for="address2">Apt</label>
							<input name="address2" [(ngModel)]="player.address.street2" class="form-control"  id="address2" pattern="[a-zA-Z0-9\s]+" />
						</div>
						<div class="form-group">
							<label for="city">City:</label>
							<input name="city" [(ngModel)]="player.address.city" class="form-control"  id="city" pattern="[a-zA-Z0-9\s]+"/>
						</div>
						<div class="form-group">
							<label for="state">State: </label>
							<select name="state" [(ngModel)]="player.address.state" class="form-control"  id="state">
								<option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="zip">Zip Code: </label>
							<input name="zip" [(ngModel)]="player.address.zip" class="form-control"  id="zip" maxlength="5" type="text" pattern="[0-9]*"/>
						</div> -->
						<div class="form-group">
							<div class="row">
								<div class="col-6"></div>
								<div class="col-6">
									<button name="submit" value="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid">Next</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
