<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div *ngIf="view == 'INIT'">
        <player-lookup></player-lookup>
      </div>
      <div *ngIf="view == 'SCHOOL'">
        <school-selector></school-selector>
      </div>
      <div *ngIf="view =='NAT_ID'">
        <app-national-input></app-national-input>
      </div>
      <div *ngIf="view =='PI'">
        <app-personal-info></app-personal-info>
      </div>
      <div *ngIf="view =='ADDY'">
        <app-address></app-address>
      </div>
      <div *ngIf="view =='GUARD'">
        <app-guardian></app-guardian>
      </div>
      <div *ngIf="view =='EMERGENCY'">
        <app-emergency></app-emergency>
      </div>
      <div *ngIf="view =='MED'">
        <app-medical></app-medical>
      </div>
      <div *ngIf="view =='CONSENT'">
        <app-consents></app-consents>
      </div>
      <div *ngIf="view =='REVIEW'">
        <app-review></app-review>
      </div>
    </div>
  </div>
</div>
<pre>View State: {{ view | json }}</pre>
<pre>Player Info: {{ player | json }}</pre>
