<div class="col card " style="width: 50em;">
  <div class="card-header text-center">
    <h4>{{ header }}</h4>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form #form="ngForm" autocomplete="off">
            <label class="container">
              <input type="checkbox" name="one" [(ngModel)]="player.consents.REP" data-md-icheck
                (change)="toggleVisibility($event); showOne = false;" required />
              <b>{{ this.data.REP.check}}</b>
              <span class="checkmark"></span>
            </label>
            <accordion>
              <accordion-group [heading]="this.data.REP.title">
                <ol>
                  <li *ngFor="let i of this.data.REP.ol">{{i}}</li>
                </ol>
              </accordion-group>
            </accordion>
            <hr>
            <label class="container">
              <input type="checkbox" name="one" [(ngModel)]="player.consents.LIABILITY" data-md-icheck
                (change)="toggleVisibility($event)" required />
              <b>{{ this.data.LIABILITY.check }}</b>
              <span class="checkmark"></span>
            </label>

            <accordion>
              <accordion-group [heading]="this.data.LIABILITY.title">
                <ul>
                  <li *ngFor="let i of this.data.LIABILITY.ul">{{i}}</li>
                </ul>
              </accordion-group>
            </accordion>
            <hr>
            <label class="container">
              <input type="checkbox" name="one" [(ngModel)]="player.consents.CONDUCT_LOCAL" data-md-icheck
                (change)="toggleVisibility($event)" required />
              <b>{{this.data.CONDUCT_LOCAL.check}}</b>
              <span class="checkmark"></span>
            </label>
            <accordion>
              <accordion-group [heading]="this.data.CONDUCT_LOCAL.title">
                {{this.data.CONDUCT_LOCAL.text}}
                <ul>
                  <li *ngFor="let i of this.data.CONDUCT_LOCAL.ul">{{i}}</li>
                </ul>
              </accordion-group>
            </accordion>
            <hr>
            <label class="container">
              <input type="checkbox" name="one" [(ngModel)]="player.consents.CONDUCT_LEAGUE" data-md-icheck
                (change)="toggleVisibility($event)" required />
              <b>{{this.data.CONDUCT_LEAGUE.check}}</b>
              <span class="checkmark"></span>
            </label>
            <accordion>
              <accordion-group [heading]="this.data.CONDUCT_LEAGUE.title">
                {{this.data.CONDUCT_LEAGUE.text}} <a [attr.href]="this.data.CONDUCT_LEAGUE.link"
                  target="_blank">{{this.data.CONDUCT_LEAGUE.link}}</a>
                <ul>
                  <li *ngFor="let i of this.data.CONDUCT_LEAGUE.ul">{{i}}</li>
                </ul>
              </accordion-group>
            </accordion>
            <hr>
            <label class="container">
              <input type="checkbox" name="five" [(ngModel)]="player.consents.FEES" data-md-icheck
                (change)="toggleVisibility($event)" required />
              <b>{{this.data.FEES.check}}</b>
              <span class="checkmark"></span>
            </label>
            <accordion>
              <accordion-group [heading]="this.data.FEES.title">
                <ul>
                  <li *ngFor="let i of this.data.FEES.ul">{{i}}</li>
                </ul>
              </accordion-group>
            </accordion>
            <hr>
            <label class="container">
              <input type="checkbox" name="six" [(ngModel)]="player.consents.IMAGE" data-md-icheck
                (change)="toggleVisibility($event)" required />
              <b>{{this.data.IMAGE.check}}</b>
              <span class="checkmark"></span>
            </label>
            <accordion>
              <accordion-group [heading]="this.data.IMAGE.title">
                <ul>
                  <li *ngFor="let i of this.data.IMAGE.ul">{{i}}</li>
                </ul>
              </accordion-group>
            </accordion>
            <hr>
            <div class="form-group">
              <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                  <button type="button" (click)="submit()" class="btn btn-lg btn-primary btn-block"
                    [disabled]="!form.valid">Submit</button>
                </div>
              </div>
            </div>
          </form>
          <!-- <pre>{{this.player.consents | json }}</pre> -->
        </div>
      </div>
    </div>
  </div>
</div>