<div class="col card " style="width: 50em;">
  <div class="card-header text-center">
    <h4>{{ header }}</h4>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ng-form #consentForm="ngForm" autocomplete="off">
            <div *ngFor="let c of consentsArr">
              <consent-item name="{{c.id}}" [model]="player.consents[c.id]" (modelChange)="onChangeEvent(c.id, $event)"
                [required]="true" [text]="c.text" [link]="c.link" [title]="c.title" [header]="c.check" [ul]="c.ul"
                [ol]="c.ol"></consent-item>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                  <button type="button" (click)="submit()" class="btn btn-lg btn-primary btn-block"
                    [disabled]="!consentForm.valid">Submit</button>
                </div>
              </div>
            </div>
          </ng-form>
          <!-- <pre>FORM VALUES: {{ consentForm.value | json}}</pre>
          <pre>FORM VALID: {{ consentForm.valid | json}}</pre>
          <pre>FORM ERRORS: {{ consentForm.errors | json}}</pre>
          <pre>{{this.player.consents | json }}</pre> -->
        </div>
      </div>
    </div>
  </div>
</div>