<div class="col card " style="width: 50em;">
	<div class="card-header text-center">
		<h4>{{ header }}</h4>
	</div>
	<div class="card-body">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form #form="ngForm" autocomplete="off">
						Parent/Guardian Info:
						<hr>
						<div class="form-group">
							<label for="guardian">*Parent/Guardian: </label>
							<input name="guardian" [(ngModel)]="player.guardian.primary.name" class="form-control"  id="guardian" pattern="[a-zA-Z0-9\s]+" />
						</div>
						<div class="form-group">
							<label for="cell">*Cell#: </label>
							<input name="cell" [(ngModel)]="player.guardian.primary.cell" class="form-control"  id="cell" pattern="[a-zA-Z0-9\s]+" />
						</div>
						<div class="form-group">
							<label for="email">*Primary Email :</label>
							<input name="email" [(ngModel)]="player.guardian.primary.email" class="form-control"  id="email" pattern="[a-zA-Z0-9\s]+"/>
						</div>
						<div class="form-group">
							<input type="checkbox" [checked]="secondary" (change)="secondary = !secondary"/>
							<label for="cell">Add Secondary? (optional)</label>
						</div>
						<div *ngIf="secondary">
							<div class="form-group">
								<label for="constact">Parent/Guardian: </label>
								<input name="contact" [(ngModel)]="player.guardian.secondary.name" class="form-control"  id="contact" pattern="[a-zA-Z0-9\s]+" />
							</div>
							<div class="form-group">
								<label for="cell2">Cell# :</label>
								<input name="cell2" [(ngModel)]="player.guardian.secondary.cell" class="form-control"  id="cell2" pattern="[a-zA-Z0-9\s]+"/>
							</div>
						</div>
						<small><i>* indicates required</i></small>
						<div class="form-group">
              <div class="row">
                <div class="col-6">
                  <button name="back" value="submit" class="btn btn-lg btn-secondary btn-block" (click)="back()">Back</button>
                </div>
                <div class="col-6">
                  <button name="submit" value="submit" (click)="submit()" class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid">Next</button>
                </div>
              </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
