<div class="col card " style="width: 50em;">
	<div class="card-header text-center">
		<h4>{{ header }}</h4>
	</div>
	<div class="card-body">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form #form="ngForm" autocomplete="off">
						Parent/Guardian Info:
						<hr>
						<div class="form-group">
							<label for="guardian">*Parent/Guardian: </label>
							<app-text [(model)]="player.guardian.primary.name" type="text" name="guardian" id="guardian"
								required="true" min="1" max="50" pattern="[a-zA-Z0-9\s]+" placeholder="">
							</app-text>

							<label for="cell">*Cell#: </label>
							<app-text [(model)]="player.guardian.primary.phone" type="text" name="cell" id="cell" required="true"
								min="1" max="10" pattern="[0-9]{10}" placeholder="5120000000">
							</app-text>

							<label for="email">*Primary Email :</label>
							<app-text [(model)]="player.guardian.primary.email" type="email" name="email" id="email" required="true"
								min="1" max="250" [pattern]="emailPattern" placeholder="my_email@something.com">
							</app-text>
						</div>

						<div class="form-group">
							<input type="checkbox" [checked]="secondary" (change)="secondary = !secondary" />
							<label for="cell">Add Secondary? (optional)</label>
						</div>

						<div *ngIf="secondary">
							<div class="form-group">
								<label for="constact">Parent/Guardian: </label>
								<app-text [(model)]="player.guardian.secondary.name" type="text" name="contact" id="contact"
									required="false" min="1" max="100" pattern="[a-zA-Z0-9\s]+" placeholder="">
								</app-text>

								<label for="cell2">Cell# :</label>
								<app-text [(model)]="player.guardian.secondary.phone" type="text" name="cell2" id="cell2"
									required="false" min="1" max="10" pattern="[0-9]{10}" placeholder="">
								</app-text>

								<label for="email">Secondary Email :</label>
								<app-text [(model)]="player.guardian.secondary.email" type="email2" name="email2" id="email2"
									required="false" min="1" max="250" [pattern]="emailPattern" placeholder="my_email@something.com">
								</app-text>
							</div>
						</div>
						<small><i>* indicates required</i></small>
						<div class="form-group">
							<div class="row">
								<div class="col-6">
									<button name="back" class="btn btn-lg btn-secondary btn-block" (click)="back()">Back</button>
								</div>
								<div class="col-6">
									<button name="submit" (click)="submit()" class="btn btn-lg btn-primary btn-block"
										[disabled]="!form.valid">Next</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>